<% @title="New Phase" %>

<div class="btn btn-outline-info btn-sm">
    <%= link_to 'Boards', boards_path, :class => "btn" %>
</div>
<div class="btn btn-outline-info btn-sm">
    <%= link_to 'Phases', phases_path, :class => "btn" %>
</div>
<div class="btn btn-outline-info btn-sm">
    <%= link_to 'Tasks', tasks_path, :class => "btn" %>
</div>

<h1>New Phase</h1>

<%= render 'form', phase: @phase %>
